// 全局变量
:root {
  // 默认变量（深色主题）
  --primary-color: #3366cc;
  --bg-color: #f9f9f9;
  --text-color: #222222;
  --light-text: #888888;
  --border-color: #dddddd;
  --hover-color: #e6f0ff;
}

// 添加一些主题相关的全局样式
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

// 重置样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.el-popover{
  --el-popover-padding: 0; 
}